body{
    background-color: #0f2f47;
    font-family: var(--font-dm-sans);
    height: auto;
}

/*Inicio navbar*/
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 12px;
    width: 300px;
}

.sidebar-navigation{
    background-color:#184a70;
    border-radius: 8px;
    padding: 16px 0 0 16px;
    cursor:pointer;
}

.logo{ 
    /* background-color: #638889; */
    color: #638889;
    border-radius: 8px;
    padding: 16px 0 0 16px;
    display: flex;    
}

.logo img{
    width: 100px;    
}

.sidebar-navigation ul{
    list-style: none;
    margin-top: 20px;
    padding: 0px 20px 10px 20px;
}

.sidebar-navigation ul li{
    padding: 10px 0px;
}

.sidebar-navigation ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
}

.sidebar-navigation ul li a:hover{
    font-size: 20px;
}

.sidebar-navigation nav ul li a i {
    margin-right: 10px;
    font-size: 20px;
}

.library{
    padding: 20px;
    background-color: #184a70;
    margin-top: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    color:#fff;
}

.library-content{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.library-content i{
    color: #fff;
    font-size: 20px;
    margin: 10px;
}

.library-content a {
    text-decoration: none;
    font-weight: 700;
}

.library-content span:hover {
    font-weight: bold;
}

.library-content i:hover { 
    font-size: 22px; 
} 

.library-content a span{
    color: #fff;
    font-size: 18px;
}

.create-playlist{
    background-color: #3198e6;;
    margin: 0 0 10px 0;
    padding: 16px 20px;
    border-radius: 8px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;    
  
}

.create-playlist-content{
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

.create-playlist-content .text-title{ /*ver o que comum e o q especifico.Tirar - no html*/
    font-weight: 700;
    padding-bottom: 14px;      
}

.create-playlist-content .text-subtitle{
    font-weight: 500;
    font-size: 16px;
    padding-bottom: 14px;      
}

.create-playlist-button{
    border-radius: 9999px;
    padding: 10px;
    border: 0;
    font-weight: 700;
    width: 113px;
    margin-top: 12px;
    text-transform: none;
}

.library .cookies{
    margin: 25px 20px;
    padding: 0;
    font-size: 12px;    
}

.library .cookies a{
   color: #fff;
    text-decoration: none;
    font-weight: 500;
}

.library .cookies a:hover{
    font-size: 14px;
}

.languages{
    margin: 0;
    padding: 0;
    border: 0;    
}

.languages-button{
    padding: 8px;
    width: 170px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}
/*fim navbar*/

/*Inicio do footer*/
.disclaimer{
    position:fixed;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 40px;
    align-items: center;
    background-image: linear-gradient(to right, #ea10ea, #3198e6 );
}
    

.disclaimer .text{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-shrink: 0;
    color: #fff;
    margin: 0;
    padding: 0;
}

.disclaimer .text .disclaimer-title{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}

.disclaimer-button{
    padding: 10px 30px;
    color: #000;
    font-weight: bold;
    font-size: 18px;
    background-color: #fff;
    border-radius: 40px;
    cursor: pointer;    
}

    

